<%-include("./components/header")-%>
<body class="dark:bg-gray-900">
  

<div class=" showmovie  w-full bg-slate-600 p-4  flex flex-col justify-center items-center">
  <h1 class="text-white w-full flex justify-center text-3xl font-bold mb-3 uppercase"><%= data.Movie %></h1>
  <img class="rounded-lg" src="<%= data.thumbnailLink %>" alt="">
  <div class="bg-sky-900 h-2 mt-5 rounded-3xl w-full "></div>
  <h1 class="w-full flex justify-center text-red-600 text-4xl font-extrabold mb-3">: Screen Shots</h1>
  <img src="<%= data.screenshot1 %>" alt="">
  <img src="<%= data.screenshot2 %>" alt="">
  <img src="<%= data.screenshot3 %>" alt="">

  <div class=" w-full flex mt-3 flex-col   justify-center items-center ">
     <a href="<%= data.downloadLink %>"  class="w-2/3  mb-3">
    <button type="button" class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full md:w-1/4">Download</button>
</a>
  <a href="<%= data.downloadLink %>"  class="w-2/3   mb-3">
    <button type="button" class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full md:w-1/4">Download</button>
</a>
 
</div>

</div>
<%- include('./components/footer.ejs') -%>

        <script src="/script/show.js"></script>
</body>
</html>